<h3>Formulário de Cliente</h3>
<form #formUsuario="ngForm">
  <label>Primeiro nome:</label>
  <input matInput
  [(ngModel)]="cliente.primeiroNome" name="primeiroNome"><br/>
  <label>Sobrenome nome:</label>
  <input matInput
  [(ngModel)]="cliente.sobreNome" name="sobreNome"><br/>
  <label>E-mail:</label>
  <input matInput
  [(ngModel)]="cliente.email" name="email"><br/>
  <label>Idade:</label>
  <input matInput
  [(ngModel)]="cliente.idade" name="idade"><br/>
  <input type="submit" title="Salvar" (click)="salvar(cliente)">
</form>
